# Managed by Ansible
cluster.name: "elasticsearch-cluster"
node.name: "{{ ansible_hostname }}"
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
http.port: 9200

# Custom settings
{% for key, value in elasticsearch_settings.items() %}
{{ key }}: {{ value }}
{% endfor %}