[Unit]
Description=Grafana Enterprise
Wants=network-online.target
After=network-online.target

[Service]
User={{ grafana_user }}
ExecStart={{ grafana_install_dir }}/grafana-enterprise-{{ grafana_version }}.linux-amd64/bin/grafana-server \
  --homepath={{ grafana_install_dir }}/grafana-enterprise-{{ grafana_version }}.linux-amd64 \
  --config={{ grafana_install_dir }}/grafana-enterprise-{{ grafana_version }}.linux-amd64/conf/defaults.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
