[Unit]
Description=Grafana Enterprise
Wants=network-online.target
After=network-online.target

[Service]
User={{ grafana_user }}
ExecStart=/opt/grafana/grafana-v12.1.0/bin/grafana-server \
  --homepath=/opt/grafana/grafana-v12.1.0 \
  --config=/opt/grafana/grafana-v12.1.0/conf/defaults.ini

[Install]
WantedBy=multi-user.target
