[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{ sonar_install_dir }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ sonar_install_dir }}/bin/linux-x86-64/sonar.sh stop
User={{ sonar_user }}
Group={{ sonar_user }}
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
